.env
myproject/djenv
myproject/myproject/home_sys/__pycache__/ 
myproject/myproject/home_sys/migrations/__pycache__/
myproject/myproject/loginpage/migrations/__pycache__/ 
myproject/loginpage/__pycache__/
SiteLauncherGui/sitelauncherenv/
