html {
    background-image: linear-gradient(to bottom right, #5da4b3, #36738f, #49599e, rgb(81, 63, 131), rgb(70, 41, 107), rgb(18, 2, 44));
    /* background-image: linear-gradient(to bottom right, #9db3b4, #587983, #344b52); */
    /* background-image: linear-gradient(to bottom right, #786abb, #3e3583, #00034a); */
    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Creation d'un font style "Cartoon Bulles" */
@font-face {
    font-family: crazyFont;
    src: url(../fonts/SuperShiny.ttf);
    font-weight: 800 900;
    font-stretch: 75% 125%;
}

header h1{
    font-family: crazyFont;
    font-size: 60px;
    text-align: center;
    color: white;
}

body {
    position: relative;
}

/* forme et stylisation des cercles */
.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(4px);
    animation-name: move-circle;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Animation des cercles */
@keyframes move-circle {
    0% { transform: translate(0, 0); }
    100% { transform: translate(50px, -50px);}
}

body .subtitle {
    font-family: namakuFont;
    text-align: center;
}

main {
    font-family: namakuFont;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}