asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.4
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
# uvicorn==0.34.0
djangorestframework==3.15.2
social-auth-app-django
social-auth-core
requests
django-environ
zxcvbn==4.4.28
daphne==4.1.2
channels==4.2.0
channels-redis==4.1.0
django-cors-headers==3.7
pillow
