@font-face {
    /*  Creation d'un font externe */
    font-family: Namaku;
    src: url(../fonts/Namaku.ttf);
}

:root {
    /* Définit les variables globales pour la taille de police et les couleurs */
    
    font-size: 16px;                    /* Taille de police de base */
    font-family: 'Open Sans';               /*  Police de caractère par défaut */
    --text-primary: #b6b6b6;          /* Couleur primaire du texte */
    --text-secondary: #ececec;        /* Couleur secondaire du texte */
    --bg-primary: #23232e;            /* Couleur de fond primaire */
    --bg-secondary: #141418;          /* Couleur de fond secondaire */
    --transition-time: 400ms            /* Pour le temps de transitions */
}

body {
    /* Styles généraux pour le corps de la page */

    color: black;                      /* Couleur du texte par défaut */
    background-color: white;           /* Couleur de fond par défaut */
    margin: 0;                           /* Supprime la marge par défaut */
    padding: 0;                          /* Supprime le remplissage par défaut */
}

main {
    /* Styles pour la section principale du contenu */

    margin-left: 8rem;                  /* Espace à gauche pour décaler le contenu */
    margin-right: 8rem;                  /* Espace à gauche pour décaler le contenu */
    padding: 1rem;                      /* Remplissage intérieur */
    transition: margin-left 400ms ease;
}

.navbar {
    /* Styles pour la barre de navigation */

    width: 5em;                         /* Largeur initiale de la barre de navigation */
    height: 100vh;                      /* Hauteur de la barre de navigation égale à la hauteur de la fenêtre */
    position: fixed;                    /* Position fixe pour qu'elle reste en place lors du défilement */
    
    /* Couleur de fond primaire */

    background-color: var(--bg-primary);

     /* Transition douce lors du changement de largeur */

    transition: width 400ms ease;
}

.navbar-nav {
    /* Styles pour la liste de navigation */

    list-style: none;                   /* Supprime les puces de la liste */
    padding: 0;                         /* Supprime le remplissage */
    margin: 0;                          /* Supprime la marge */
    display: flex;                      /* Utilise flexbox pour l'agencement */
    flex-direction: column;             /* Dispose les éléments en colonne */
    align-items: center;                /* Centre les éléments horizontalement */
    height: 100%;                       /* Prend toute la hauteur disponible */
}

.nav-item {
    /* Styles pour chaque élément de navigation */

    width: 100%;                        /* Prend toute la largeur disponible */
}

.nav-item:last-child {
    /* Espace supplémentaire pour le dernier élément */

    margin-top: auto;                   /* Pousse le dernier élément vers le bas */
}

.nav-icon {
    /* Styles pour les liens et icônes de navigation */

    display: flex;                      /* Utilise flexbox pour centrer le contenu */
    align-items: center;                /* Centre verticalement le contenu */
    height: 5rem;                       /* Hauteur fixe */
    color: var(--text-primary);         /* Couleur du texte primaire */
    text-decoration: none;              /* Supprime le soulignement des liens */
    transition: 200ms;                  /* Transition douce pour les changements d'état */
}

.link-text {
    /* Styles pour le texte des liens */

    opacity: 0;                     /* Cacher le texte par défaut */
    visibility: hidden;             /* Invisible par défaut */
    margin-left: 1rem;             /* Espace à gauche */
    transition: opacity 400ms ease, visibility 400ms ease;
}

.navbar:hover .link-text {
    opacity: 1;                     /* Rendre visible lors du survol */
    visibility: visible;            /* Rendre visible */
}



.link-text {
    /* Styles pour le texte des liens */

    opacity: 0;                     /* Cacher le texte par défaut */
    visibility: hidden;             /* Invisible par défaut */
    margin-left: 1rem;             /* Espace à gauche */
    transition: opacity 400ms ease, visibility 400ms ease;
}

.navbar:hover .link-text {
    opacity: 1;                     /* Rendre visible lors du survol */
    visibility: visible;            /* Rendre visible */
}



.nav-icon svg {
    /* Styles pour les icônes SVG dans les liens */

    min-width: 2rem;                    /* Largeur minimale de l'icône */
    margin: 0 1.5rem;                   /* Espace à gauche et à droite */
}

.nav-icon lord-icon {
    /* Styles spécifiques pour l'icône Lordicon */

    width: 24px;                        /* Largeur fixe */
    height: 24px;                       /* Hauteur fixe */
    min-width: 2rem;                    /* Largeur minimale */
    margin: 0 1.5rem;                   /* Espace à gauche et à droite */
    --lord-icon-primary: #b6b6b6;     /* Couleur primaire de l'icône */

    /* Transition douce pour les changements */

    transition: width 500ms ease, height 500ms ease, --lord-icon-primary 500ms ease;
}

.nav-icon:hover lord-icon {
    /* Styles lors du survol d'une icône Lordicon */

    width: 48px;                        /* Double la largeur */
    height: 48px;                       /* Double la hauteur */
    --lord-icon-primary: #cc20ef;     /* Change la couleur primaire au survol */
}

.nav-icon:hover {
    /* Styles pour l'icône lors du survol */

    background: var(--bg-secondary);    /* Change le fond au survol */
    color: var(--text-secondary);       /* Change la couleur du texte au survol */
}

.navbar:hover {
    /* Styles pour la barre de navigation lors du survol */

    width: 16rem;                       /* Augmente la largeur au survol */
}

/* Ajoute cette règle pour déplacer le contenu principal */
.navbar:hover + main {
    margin-left: 19rem;                 /* Déplace le contenu principal à droite */
}


.logo {
    /* Styles pour le logo */
    
    font-weight: bold;                  /* Gras */
    text-transform: uppercase;          /* Met le texte en majuscules */
    margin-bottom: 1rem;                /* Espace en bas */
    text-align: center;                 /* Centre le texte */
    color: var(--text-secondary);       /* Couleur du texte secondaire */
    background: var(--bg-secondary);    /* Couleur de fond secondaire */
    font-size: 1.5rem;                  /* Taille de police */
    letter-spacing: 0.3ch;              /* Espace entre les lettres */
    width: 100%;                        /* Prend toute la largeur */
}

.logo span {
    /* Styles pour les SPAN */

    color: #ececec;                   /* Définit la couleur */
}

.logo svg {
    /* Styles pour les SVG du logo */

    fill: #ffffff;                    /* Couleur de remplissage initiale */
    transform: rotate(0deg);            /* Positionnement initial */

    /* Transition douce pour la rotation et la couleur */
    
    transition: transform 500ms ease, fill 200ms ease, margin-left 500ms;
}

.navbar:hover .logo svg {
    /* Styles pour le SVG du logo lors du survol de la barre de navigation */

    margin-left: 12rem;
    fill: #cc20ef;                    /* Change la couleur de remplissage au survol */
    transform: rotate(-180deg);         /* Fait pivoter le logo au survol */
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: 400ms;
}

.navbar:hover .logo-text{
    left: 0px;
}