body {
    background-color: var(--bg-primary);
}

.page {
    margin: 0;
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    transition: grid-template-columns 1s ease;
}

h1 {
    color: white;
    text-align: center;
}

#friends, #channels {
    border: 3px solid #ED4EB0;
    border-radius: 2%;
    width: 100%;
    height: 600px;
}

 /* Actual chan here + scrollbar */
.column {
    height: 100%;
    transition: 1s ease, opacity 1s ease;
}

.column h2 {
    border: 3px solid #ED4EB0;
    border-radius: 2%;
    margin-bottom: 35px;
}

.friends, .channels {
    transition: transform 1s ease;
}

.center {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.center h2 {
    border: 3px solid #ED4EB0;
    border-radius: 2%;
    margin-bottom: 35px;
}

.chat-page {
    position: relative;
    border: 3px solid #ED4EB0;
    border-radius: 2%;
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.chat-page::-webkit-scrollbar {
    border-radius: 50%;
    width: 10px;
}

.chat-page::-webkit-scrollbar-track {
    border-radius: 10%;
    background: var(--bg-primary);
}
.chat-page::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
    border-radius: 10px;
    height: calc(100% - 50px);
}

/* Create a new chan */
#new-chan {
    font-size: 15px;
    padding: 5px 10px;
    color:#ED4EB0;
    background-color: var(--bg-primary);
    border-radius: 5px;
    cursor: pointer;
    justify-self: start;
}

/* Message input + button + message prints */
.message {
    position: relative;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    width: fit-content;
    align-self: flex-end;
    margin: 10px;
    padding: 10px;
    background-color: #ED4EB0;
    color: black;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: calc(100% - 20px);
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#send-button {
    margin-left: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
    padding: 5px;
}

#message-input {
    padding: 5px;
    font-size: 16px;
    width: 100%;
}