body{
    background-color: #F2F4F3 ;
}

#game {
	width: 100%;
	text-align:center;
}

.canvas-container {
    /* border: solid 5px #ED4EB0; */
    border-radius: 1%;
    position: relative;
	display: inline;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 5px solid; */
	/* border-color: #ED4EB0; */
}

#score {
	text-align: center;
}

@font-face {
    /*  Creation d'un font externe */
    font-family: 'BungeeShade-Regular';
    src: url(../fonts/BungeeShade-Regular.ttf);
}

@font-face {
    /*  Creation d'un font externe */
    font-family: 'coolvetica-condensed-rg';
    src: url(../fonts/coolvetica-condensed-rg.otf);
}

#button-container {
	position: absolute;
	margin-top: 200px; 
}

#replay-button {
	display: block;
	text-align: center;
	background-color: #2B2B3B;
	cursor: pointer;
	font-family: 'coolvetica-condensed-rg';
	font-size: 30px;
	margin: 0%;
}

/*
Ici on va venir definir les deux animations (deux couleurs differentes, texte qui change légerement.)
On refait tous les keyframe pour ne pas se casser la tête
*/
svg {
	font-family: "BungeeShade-Regular", sans-serif;
	width: 100%; height: 100%;
}

svg text {
	fill: #121217; /* Pas de remplissage par défaut */
	animation: stroke 2s alternate;
	width: 1920; height: 1080;
	stroke-width: 3;
	stroke: #365FA0;
	font-size: 100px;
}


#svg-wrapper-player2 text {
	animation: stroke2 2s alternate;
	stroke: #C42021;
}

@keyframes stroke {
	0% {
		fill: none !important;
		stroke: #365fa0;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 3;
	}
	70%		{fill: none !important; stroke: #365fa0;}
	82%		{fill: none !important; stroke: #668DCC; stroke-dasharray: 50% 0;}
	91%		{fill: none !important; stroke: #365fa0;}
	92%		{fill: none !important; stroke: #668DCC; stroke-dasharray: 50% 0;}
	94%		{fill: none !important; stroke: #365fa0;}
	96%		{fill: none !important; stroke: #668DCC; stroke-dasharray: 50% 0;}
	100%	{fill: none !important; stroke: #365fa0;}
}

@keyframes stroke2 {
	0% {	
		fill: none !important;
		stroke: #C42021;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 3;
	}
	70%		{fill: none !important; stroke: #C42021;}
	82%		{fill: none !important; stroke: #E56161; stroke-dasharray: 50% 0;}
	91%		{fill: none !important; stroke: #C42021;}
	92%		{fill: none !important; stroke: #E56161; stroke-dasharray: 50% 0;}
	94%		{fill: none !important; stroke: #C42021;}
	96%		{fill: none !important; stroke: #E56161; stroke-dasharray: 50% 0;}
	100%	{fill: none !important; stroke: #C42021;}
}


.wrapper {
	display: block;
	position: absolute;
};
