@font-face {
	font-family: Thunder-VF;
	src: url("../fonts/Thunder-VF.ttf");
}

@font-face {
	font-family: Thunder-SemiBold;
	src: url("../fonts/Thunder-SemiBoldLC.otf");
}

body {
	background-color: var(--bg-site);
}

.retour {
    height: 10%;
	padding-right: 85%;
    top: 30px;
    position: relative;
}

.page {
	font-family: 'Thunder-VF';
	text-align: center;
	position: relative;	
	box-sizing: border-box;
	top: 200px;
	width: 70%;
	border: 3px solid #ED4EB0;
	border-radius: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
	background: linear-gradient(to bottom right, #232330, #14141e);
}

.title {
	color: var(--font-color);
	font-size: 	70px;
	width: 100%;
}

.mode-choices {
	margin: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 100px;				  /* Espace entre les deux liens */
}

.game-mode span {
    font-family: 'Thunder-SemiBold';
}

.game-mode {
	justify-content: center;
	align-items: center;
    cursor: pointer;
	display: flex;
	width: 200px;
	height: 60px;
    border-radius: 10px;
    outline: 3px solid #ED4EB0;
	font-size: 32px;
	background-color: #141418;
    color: rgba(237, 78, 176, 0.9);
	transition: all 0.3s ease-in-out;
}

.game-mode:hover {
	box-shadow: rgb(237, 78, 176, 0.4) -8px 6px,
				rgba(237, 78, 176, 0.3) -12px 10px,
				rgba(237, 78, 176, 0.2) -16px 14px,
				rgba(237, 78, 176, 0.1) -20px 18px;
				background-color: #2E2E38;
	transform: translateX(10px) translateY(-9px);
}

a {
	text-decoration: none;
}

#retour {
	width: 100px;
	height: 30px;
    border-radius: 5px;
    outline: 3px solid #ED4EB0;
	font-size: 20px;
}

#choice {
	width: 150px;
	height: 45px;
	margin-bottom: 25px;
	font-size: 24px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#choice:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 35px rgba(237, 78, 176, 0.5);
}

#text {
	color: var(--font-color);
	font-size: 	32px;
	margin: 0px;	
}