/* Creation de polices */
@font-face {
	/*  Creation d'un font externe */
	font-family: 'BungeeShade-Regular';
	src: url(../fonts/BungeeShade-Regular.ttf);
}

@font-face {
	/*  Creation d'un font externe */
	font-family: 'coolvetica-condensed-rg';
	src: url(../fonts/coolvetica-condensed-rg.otf);
}

@font-face {
	font-family: Namaku;
	src: url("../fonts/Namaku.ttf");
}

/* Stylisation du jeu */
body{
	background-color: #2B2B3B ;
}

#game {
	width: 100%;
	text-align:center;
}

.canvas-container {
	border-radius: 1%;
	position: relative;
	display: inline;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 99%
}

h3 {
	text-align: center;
}
/* Style des scores au top */
.scores {
	font-family: 'Namaku';
	gap: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	color: white;
	text-align: center;
}

#title {
	width: 100%;
}

/* Style du du bouton REPLAY */
#button-container {
	position: absolute;
	margin-top: 200px; 
}

#replay-button {
	display: block;
	text-align: center;
	background-color: #2B2B3B;
	cursor: pointer;
	font-family: 'coolvetica-condensed-rg';
	font-size: 30px;
	margin: 0%;
}


.sliderDiv {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.sliderDiv > span {
	font-family: "Poppins", sans-serif;
	font-size: 2em;
	color: #999;
	font-weight: 400;
	width: 100%;
	text-align: center;
}

.sliderDiv > input {
	width: 80%;
	height: 15px;
	background: #111;
	outline: 1px solid #ED4EB0;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 20px;
}

#range::-webkit-slider-thumb {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #ED4EB0;
	cursor: pointer;
	border: 2px solid #333;
}

#range::-moz-range-thumb {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #ED4EB0;
	cursor: pointer;
	border: 2px solid #333;
}

/*
Ici on va venir definir les deux animations (deux couleurs differentes, texte qui change légerement.)
On refait tous les keyframe pour ne pas se casser la tête
*/
svg {
	font-family: "BungeeShade-Regular", sans-serif;
	width: 100%; height: 100%;
}

svg text {
	fill: #121217; /* Pas de remplissage par défaut */
	animation: stroke 2s alternate;
	width: 1920; height: 1080;
	stroke-width: 3;
	stroke: #365FA0;
	font-size: 100px;
}


#svg-wrapper-player2 text {
	animation: stroke2 2s alternate;
	stroke: #C42021;
}

@keyframes stroke {
	0% {
		fill: none !important;
		stroke: #365fa0;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 3;
	}
	70%		{fill: none !important; stroke: #365fa0;}
	82%		{fill: none !important; stroke: #668DCC; stroke-dasharray: 50% 0;}
	91%		{fill: none !important; stroke: #365fa0;}
	92%		{fill: none !important; stroke: #668DCC; stroke-dasharray: 50% 0;}
	94%		{fill: none !important; stroke: #365fa0;}
	96%		{fill: none !important; stroke: #668DCC; stroke-dasharray: 50% 0;}
	100%	{fill: none !important; stroke: #365fa0;}
}

@keyframes stroke2 {
	0% {	
		fill: none !important;
		stroke: #C42021;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 3;
	}
	70%		{fill: none !important; stroke: #C42021;}
	82%		{fill: none !important; stroke: #E56161; stroke-dasharray: 50% 0;}
	91%		{fill: none !important; stroke: #C42021;}
	92%		{fill: none !important; stroke: #E56161; stroke-dasharray: 50% 0;}
	94%		{fill: none !important; stroke: #C42021;}
	96%		{fill: none !important; stroke: #E56161; stroke-dasharray: 50% 0;}
	100%	{fill: none !important; stroke: #C42021;}
}


.wrapper {
	display: block;
	position: absolute;
};
