#game {
	width: 100%;
	text-align:center;
}

canvas {
    /* border: solid 5px #cc20ef; */
    border-radius: 1%;
    position: relative;
	display: inline;
}

#score {
	text-align: center;
}

@font-face {
    /*  Creation d'un font externe */
    font-family: 'Namaku';
    src: url(../fonts/Namaku.ttf);
}

#replay-button {
	display: block;
	text-align: center;
	height: 60%;
	color: white;
	cursor: pointer;
	font-family: 'Namaku';
	font-size: 25px;
	
}