#game {
	width: 100%;
	text-align:center;
}

.canvas-container {
    /* border: solid 5px #cc20ef; */
    border-radius: 1%;
    position: relative;
	display: inline;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 5px solid; */
	/* border-color: #cc20ef; */
}

#score {
	text-align: center;
}

@font-face {
    /*  Creation d'un font externe */
    font-family: 'Namaku';
    src: url(../fonts/Namaku.ttf);
}

#button-container {
	position: absolute;
	margin-top: 100px; 
}

#replay-button {
	display: block;
	text-align: center;
	color: white;
	cursor: pointer;
	font-family: 'Namaku';
	font-size: 25px;
}
