body {
    background-color: var(--bg-site);
    color: #d8d8d8;
}

.online-status {
    position: absolute;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: rgb(109, 109, 109);
    border: 1px solid #131317;
    scale: 0.8;
    margin-left: 35px;
    margin-top: 40px;
}

.online-status.active {
    background-color: rgb(1, 201, 1); /* Couleur verte pour indiquer "en ligne" */
}

.friends_and_blocked_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px
}

.friends_box,
.blocked_box {
    width: 550px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #23232e;
}

.blocked_box {
    margin-left: 40px;
}

.friend_request_box,
.invitation_box {
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #23232e;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.if_founded {
    display: flex; /* Afficher les éléments en ligne */
    align-items: center; /* Centrer verticalement les éléments */
    gap: 10px; /* Espacement entre les éléments */
    padding: 10px;
    border-top: 2px solid black;
    background-color: #141418;
}

.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.if_not_founded {
    text-align: center;
}

.user-pp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}

.user-username {
    font-size: 18px;
    margin: 0; /* Supprimer la marge pour un meilleur alignement */
}

button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.add-it, .talk-friend, .join-it {
    background-color: green;
    color: white;
}

/* .invite-friend */
.decline-it, .decline-invitation {
    background-color: orange;
    color: white;
}

.block-it,
.remove-friend,
.remove-user-blocked {
    background-color: red;
    color: white;
}

.add-it,
.decline-it,
.block-it,
.remove-friend,
.remove-user-blocked,
.talk-friend,
.join-it,
/* .invite-friend */
.decline-invitation {
    transition: all 0.1s ease;
}

.add-it:hover,
.decline-it:hover,
.block-it:hover,
.remove-friend:hover,
.remove-user-blocked:hover,
.talk-friend:hover,
/* .invite-friend:hover, */
.join-it:hover,
.decline-invitation {
    scale: 1.1;
}

.status {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.status.online {
    color: green;
    background-color: #e8f5e9; /* Vert clair */
}

.status.offline {
    color: red;
    background-color: #ffebee; /* Rouge clair */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.status {
    animation: fadeIn 0.5s ease-in-out;
}

/* ------------------------------ */
/* TITLE */

.page-title {
	background-color: #1a1a1a;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
    margin-bottom: 50px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}

.sub-container {
	color: white;
	max-width: 800px;
	text-align: center;
	margin-top: -40px;
}

h1 {
	font-size: 2.5rem;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.emoji-in-title {
	display: inline-block;
	animation: rotateEmoji 4s infinite alternate;
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
	color: #b0b0b0;
}

@keyframes rotateEmoji {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
