@font-face {
	font-family: Thunder-VF;
	src: url("../fonts/Thunder-VF.ttf");
}

@font-face {
	font-family: Thunder-SemiBold;
	src: url("../fonts/Thunder-SemiBoldLC.otf");
}

body{
	background-color: var(--bg-site) ;
}

.mapSelection {
	font-family: 'Thunder-VF';
	text-align: center;
	position: relative;	
	box-sizing: border-box;
	top: 250px;
	border: 3px solid #ED4EB0;
	border-radius: 50px;
	width: 70%;
	display: block;
	margin-left: auto;
	background-color: #23232e;
    margin-right: auto;
}	

.title {
	color: var(--font-color);
	font-size: 	70px;
}

.map-choice {
	margin: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 100px;				  /* Espace entre les deux liens */
}

.mapButton {
	font-family: 'Thunder-SemiBold';
	justify-content: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	width: 200px;
	height: 60px;
    border-radius: 10px;
    outline: 3px solid #ED4EB0;
    outline-offset: -1px;
	font-size: 32px;
	border: none;
	background-color: #141418;
    color: rgba(237, 78, 176, 0.9);
}


.mapButton:hover {
	background-color: #3e3e44;
}

.game {
	display: none;
}

#game {
	width: 50%;
	text-align:center;
}

#canvas-container {
	border-radius: 1%;
	position: relative;
	align-items: center;
	justify-content: center;
}

h3 {
	text-align: center;
}

#fps {
	font-family: 'Thunder-VF';
	gap: 30px;
	justify-content: center;
	font-size: 30px;
	align-items: center;
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

#title {
    font-family: 'Thunder-VF'; /* Police demandée */
	font-size: 30px;
    position: absolute; /* Permet un positionnement précis */
    top: 10%; /* Position verticale dans le tiers supérieur (ajustez selon vos préférences) */
    left: 13%; /* Position horizontale pour se placer entre la barre des tâches et le jeu */
    color: white; /* Couleur du texte */
    text-align: center; /* Centre le texte dans la div */
    width: auto; /* La largeur s'adapte au contenu */
    height: auto; /* La hauteur s'adapte au contenu */
    z-index: 10; /* S'assure que la div est au-dessus des autres éléments */
}

#button-container {
	position: absolute;
	margin-top: 200px; 
}

#replay-button {
	display: flex;
	text-align: center;
	background-color: #2B2B3B;
	cursor: pointer;
	font-family: 'coolvetica-condensed-rg';
	font-size: 30px;
	margin: 0%;
}

#gameOver {
	font-family: "BungeeShade-Regular", sans-serif;
	display: flex;
	font-size: 35px;
	color: #C42021;
	position: absolute;
}

@font-face {
	/*  Creation d'un font externe */
	font-family: 'BungeeShade-Regular';
	src: url(../fonts/BungeeShade-Regular.ttf);
}

@font-face {
	/*  Creation d'un font externe */
	font-family: 'coolvetica-condensed-rg';
	src: url(../fonts/coolvetica-condensed-rg.otf);
}

@font-face {
	font-family: Namaku;
	src: url("../fonts/Namaku.ttf");
}