@font-face {
	font-family: Thunder-VF;
	src: url("../fonts/Thunder-VF.ttf");
}

@font-face {
	font-family: Thunder-SemiBold;
	src: url("../fonts/Thunder-SemiBoldLC.otf");
}

@font-face {
	font-family: Namaku;
	src: url('../fonts/Namaku.ttf');
}

body{
	background-color: var(--bg-site) ;
}

/* Other game choice */

.page {
	font-family: 'Thunder-VF';
	text-align: center;
	position: relative;	
	box-sizing: border-box;
	top: 200px;
	width: 70%;
	border: 3px solid #ED4EB0;
	border-radius: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
	background: linear-gradient(to bottom right, #232330, #14141e);
}

.title {
	color: var(--font-color);
	font-size: 	70px;
}

.mode-choices {
	margin: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 100px;				  /* Espace entre les deux liens */
}

.game-mode {
	justify-content: center;
	align-items: center;
    cursor: pointer;
	display: flex;
	width: 200px;
	height: 60px;
    border-radius: 10px;
    outline: 3px solid #ED4EB0;
	font-size: 32px;
	background-color: #141418;
    color: rgba(237, 78, 176, 0.9);
	transition: all 0.3s ease-in-out;
}

.game-mode span {
    font-family: 'Thunder-SemiBold';
}

.game-mode:hover {
	box-shadow: rgb(237, 78, 176, 0.4) -8px 6px,
				rgba(237, 78, 176, 0.3) -12px 10px,
				rgba(237, 78, 176, 0.2) -16px 14px,
				rgba(237, 78, 176, 0.1) -20px 18px;
				background-color: #2E2E38;
	transform: translateX(10px) translateY(-9px);
}

a {
	text-decoration: none;
}

/* Map choice */

.mapSelection {
	font-family: 'Thunder-SemiBold';
	text-align: center;
	position: relative;	
	box-sizing: border-box;
	top: 200px;
	border: 3px solid #ED4EB0;
	border-radius: 50px;
	width: 70%;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom right, #232330, #14141e);
}	

.title {
	color: var(--font-color);
	font-size: 	70px;
	width: 100%;
}

.map-choice {
	margin: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 100px;				  /* Espace entre les deux liens */
}

.mapButton {
	font-family: 'Thunder-SemiBold';
	justify-content: center;
	align-items: center;
	display: flex;
	width: 200px;
	height: 60px;
    border-radius: 10px;
    outline: 3px solid #ED4EB0;
    cursor: pointer;
	font-size: 32px;
	border: none;
	background-color: #141418;
    color: rgba(237, 78, 176, 0.9);
	transition: all 0.4s ease-in-out;
}

.mapButton:hover {
	box-shadow: rgb(237, 78, 176, 0.4) -8px 6px,
				rgba(237, 78, 176, 0.3) -12px 10px,
				rgba(237, 78, 176, 0.2) -16px 14px,
				rgba(237, 78, 176, 0.1) -20px 18px;
	background-color: #2E2E38;
	transform: translateX(10px) translateY(-9px);
}


/* Other Game */

#game {
	width: 50%;
	text-align:center;
}

#canvas-container {
	border-radius: 1%;
	position: relative;
	align-items: center;
	justify-content: center;
}

h3 {
	text-align: center;
}

#fps {
	font-family:'Thunder-SemiBold';
	gap: 30px;
	justify-content: center;
	font-size: 31px;
	align-items: center;
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

#score {
    font-family:'Namaku'; /* Police demandée */
	font-size: 23px;
    position: absolute; /* Permet un positionnement précis */
    top: 10%; /* Position verticale dans le tiers supérieur (ajustez selon vos préférences) */
    left: 13%; /* Position horizontale pour se placer entre la barre des tâches et le jeu */
    color: white; /* Couleur du texte */
    text-align: center; /* Centre le texte dans la div */
    width: auto; /* La largeur s'adapte au contenu */
    height: auto; /* La hauteur s'adapte au contenu */
    z-index: 10; /* S'assure que la div est au-dessus des autres éléments */
}

#button-container {
	position: absolute;
	justify-content: center;
	transform: translate(-50%, -50%);
	margin-top: 100px; 
}

.replay-button {
	/* display: flex; */
	text-align: center;
	background-color: #2B2B3B;
	color: #C42021;
	cursor: pointer;
	font-family: 'coolvetica-condensed-rg';
	font-size: 30px;
	left: 50%;
	position: relative;
}

.gameOver {
	font-family: "BungeeShade-Regular", sans-serif;
	/* display: flex; */
	font-size: 35px;
	color: #C42021;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
}

@font-face {
	/*  Creation d'un font externe */
	font-family: 'BungeeShade-Regular';
	src: url(../fonts/BungeeShade-Regular.ttf);
}

@font-face {
	/*  Creation d'un font externe */
	font-family: 'coolvetica-condensed-rg';
	src: url(../fonts/coolvetica-condensed-rg.otf);
}

@font-face {
	font-family: Namaku;
	src: url("../fonts/Namaku.ttf");
}

#timer {
	display: none;
	justify-content: center;
}

/* Multiplayer Casse-Brique */

.games {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	font-family: 'Namaku';
	color: white;
}

.overlay1 {
	display: none;
	color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 10;
	text-align: center;
}

.overlay2 {
	display: none;
	color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 10;
	text-align: center;
}

.game {
	position: relative;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.player1 {
	display: none;
	flex-direction: column;
	align-items: center;
}

.box-scores {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.timer {
	font-family: 'Thunder-SemiBold';
	color: white;
}

.player2 {
	display: none;
	flex-direction: column;
	align-items: center;
}

.retour {
	padding-right: 85%;
    height: 10%;
    top: 30px;
    position: relative;
}

#retour {
	width: 100px;
	height: 30px;
    border-radius: 5px;
    outline: 3px solid #ED4EB0;
	font-size: 20px;
}

a {
	text-decoration: none;
}

#disconnected {
	display: none;
}