/* color pink: #ED4EB0 */

@font-face {
    font-family: Namaku;
    src: url("../fonts/Namaku.ttf");
}

body {
    background-color: #23232e;
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    font-family: 'Namaku';
}

.square {
    width: 90%;
    height: auto;
    max-height: 100vh;
    background-color: #13131a;
    border-radius: 3%;
    color: white;
    font-family: 'Namaku';
}

.square h2 {
    text-align: center;
    padding-top: 15px;
}

/* Ajustemnent du nombre de joueurs */
.input-number {
    position: relative;
    margin: 0 10px;
    height: 70px;
    display: flex;
    align-items: center;
}

.input-number #title {
    color: #ED4EB0;
    margin-right: 10px;
}

.players-number {
    color: black;
    width: 40px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10%;
    background-color: white;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.arrow {
    font-size: 10px;
    cursor: pointer;
    display: block;
    height: 20px;
}

button.arrow:focus {
    outline: none;
}

button.arrow:hover {
    background-color: #23232e;
}

/* Formulaires joueurs */
.forms {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    grid-auto-flow: dense;
}

.form-player {
    display: flex;
    flex-direction: column;
}

.forms h4 {
    margin-bottom: 5px;
    color: #ED4EB0;
}

.forms input {
    height: 30px;
    font-family: 'Namaku';
    margin-left: 30px;
    font-size: 18px;
    border: 2px solid #ED4EB0;
    width: 90%;
}

.button-play {
    margin-left: 35%;
    color: #ED4EB0;
    font-family: 'Namaku';
    font-size: 20px;
    padding: 18px;
    border-radius: 3%;
    width: 200px;
    background-color: #23232e;
}

.button-play:hover {
    background-color: #38384b;
}