{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/signin-styles.css'%}">
</head>
<body>

    <h1>Sign In</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" name="username" required>
        
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" required>
        
        <button type="submit">Se connecter</button>
    </form>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>Pas de compte l'ami ? Absous toi de ce péché ici : <a href="{% url 'signup' %}">Chemin de la rédemption</a><div class=""></div></p>

</body>
</html>
