{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/channels-style.css' %}">
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

<h1>Chatroom</h1>
<div class="page">

    <div class="column friends">
        <h2>Friends</h2>
        <canvas id="friends"></canvas>
    </div>
    <!-- <div class="column center" display="none"></div> -->
    <!-- <div class="column center">
        <h2>Actual Chan</h2>
        
        <div class="chat-page" id="chat-page">
        </div>
        
        <div class="input-container">
            <input id="message-input" type="text" placeholder="Message...">
            <button id="send-button">Envoyer</button>
        </div>
        
    </div> -->
    
    <div class="column channels">
        <h2>Channels</h2>
        <canvas id="channels"></canvas>
        <button id="new-chan">+</button>
    </div>

    <script src="{% static 'js/channel.js' %}"></script> 
</div>

{% endblock %}