{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/channels-style.css' %}">
<!-- <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script> -->

<h1 id="blaze">Chatroom</h1>
<p id="current-username" data-username="{{current_user.username}}"></p>
<p id="users-list" data-users="{% for user in users %}{{ user.username }}{% empty %}{% endfor %}"></p>
<div class="page" id="page">

    <div class="column friends">
        <h2 id="title">Friends</h2>
        <div id="friends"></div>
		<button class="button-chat" id="add-friend-chan">👥+</button>
    </div>
    
    <div class="column channels">
        <h2 id="title">Channels</h2>
        <div id="channels-list"></div>
        <button class="button-chat" id="new-chan">+</button>
    </div>

    <!-- Formulaire pour definir un nom de channel -->
    
    <div id="input-channel" class="hidden-form">
        <h2>New channel name</h2>
        <input type="text" id="channel-name" pattern="[a-zA-Z0-9]">
    </div>

    <!-- Formulaire pour ajouter un ami au channel courant -->

    <div id="input-dm" class="hidden-form">
        <h2>Add a friend to chan</h2>
        <input type="text" id="input-add-friend-chan">
    </div>

    <div id="overlay" class="overlay"></div>

    <script src="{% static 'js/channel.js' %}"></script> 
</div>

{% endblock %}