{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/game-mode-style.css' %}">

<div class="page">
    <div class="rectangle"></div>
    <h1 class="title">Choix du mode de jeu</h1>
    <div class="mode-choices">
        <a href="{% url 'game' %}" class="game">
            <span class="game-mode">1v1 local</span>
        </a>
        <a href="{% url 'game-bot' %}" class="game-bot">
            <span class="game-mode">Solo</span>
        </a>
		<a href="{% url 'other_game' %}" class="game-bot">
            <span class="game-mode">Casse Briques</span>
        </a>
    </div>
</div>


{% endblock %}http://127.0.0.1:8000/account/unavailable/