{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="content">

    <link rel="stylesheet" href="{% static 'css/game-mode-style.css' %}">

    <div class="page">
        <div class="rectangle"></div>
    	<a href="game-choice/" class="retour">
    		<span class="game-mode" id="retour" >Retour</span>
    	</a>
        <h1 class="title">Choix du mode de jeu</h1>
        <div class="mode-choices">
            <a href="game-type-pong/" class="game">
                <span class="game-mode">1v1</span>
            </a>
            <a href="game-bot/" class="game-bot">
                <span class="game-mode">Solo</span>
            </a>
    		<a href="tournament_choice/" class="tournament">
                <span class="game-mode">Tournois</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}