{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/game-style.css' %}">

<h3 class="scores" id="fps">Fps : 0</h3>

<div class="scores" id="scores">
	<h3 id="title">Player 1</h3>
	<h3 id="scoreP1">0</h3>
	<h3 id="scoreP2">0</h3>
	<h3 id="title">Player 2</h3>
</div>

<div id="canvas-container">
    <canvas width="1920" height="950" id="game"></canvas>
    <div id="button-container">
        <button id="replay-button" style="display: none;">Play again !</button>
    </div>
    <div class="wrapper" top="500px" left="500px" width="1100" height="150" style="display: none;" id="wrapper-player1">
        <svg width="1100" height="150">
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                Player 1 Wins !
            </text>
        </svg>
    </div>
    <div class="wrapper" top="500px" left="500px" width="1100" height="150" style="display: none;" id="wrapper-player2">
        <svg width="1100" height="150" id="svg-wrapper-player2">
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                Player 2 Wins !
            </text>
        </svg>
    </div>
</div>

<h3 class="disconnected" id="disconnected">Un joueur s'est deconnecte</h3>

<script src="{% static 'js/game-distant.js' %}"></script>

{% endblock %}