{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="content">

	<link rel="stylesheet" href="{% static 'css/game-mode-style.css' %}">

	<div class="page">
		<div class="rectangle"></div>
		<a href="{% url 'game-mode-pong' %}" class="retour">
			<span class="game-mode" id="retour" >Retour</span>
		</a>
		<h1 class="title">Choix de la room</h1>
		<div class="mode-choices">

			<a href="{% url 'game-distant' request.user.id %}" class="game-distant">
				<span class="game-mode">New game</span>
			</a>
			{% comment %} <a href="{% url 'game-distant' request.user.id %}" class="game-distant"> {% endcomment %}
				{% comment %} <span class="game-mode">join game</span> {% endcomment %}
			{% comment %} </a> {% endcomment %}
			<div id="test">
				{% comment %} {% if all_games %} {% endcomment %}
				<div id="test">
					<h2 id='text'> Join room : </h2>
					<div id="rooms-list">
						<p>Chargement des rooms...</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
