{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="content">

	<link rel="stylesheet" href="{% static 'css/game-mode-style.css' %}">

	<div class="page">
		<div class="rectangle"></div>
		<a href="{% url 'game-mode-pong' %}" class="retour">
			<span class="game-mode" id="retour" >Retour</span>
		</a>
		<h1 class="title">Choix de la room</h1>
		<div class="mode-choices">

			<a href="{% url 'game-distant' request.user.id %}" class="game-distant">
				<span class="game-mode">New game</span>
			</a>
			{% comment %} <a href="{% url 'game-distant' request.user.id %}" class="game-distant"> {% endcomment %}
				{% comment %} <span class="game-mode">join game</span> {% endcomment %}
			{% comment %} </a> {% endcomment %}
			<div id="test">
				{% comment %} {% if all_games %} {% endcomment %}
					<h2 id='text'> Join room : </h2>
					<div id="rooms-list">
						<p>Chargement des rooms</p>
					</div>
					{% comment %} {% for room in all_games %} {% endcomment %}
					{% comment %} <a href="{% url 'game-distant' room.game_id %}" class="game-distant" id="choice"> {% endcomment %}
						{% comment %} <span class="game-mode" id='choice'>Room {{ room.game_id }}</span> {% endcomment %}
					{% comment %} </a> {% endcomment %}
					{% comment %} {% endfor %} {% endcomment %}
				{% comment %} {% else %} {% endcomment %}
					{% comment %} <p>Aucune Room </p> {% endcomment %}
				{% comment %} {% endif %} {% endcomment %}
			</div>
		</div>

	</div>
</div>

{% endblock %}
