{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="content">

    <link rel="stylesheet" href="{% static 'css/game-mode-style.css' %}">

    <div class="page">
        <h1 class="title">Choix du jeu</h1>
        <div class="mode-choices">
            <a href="game-mode-pong" class="game-mode">
                <span>Pong</span>
            </a>
    		<a href="other_game_choice" class="game-mode">
                <span>Casse Briques</span>
            </a>
        </div>
    </div>

</div>

{% endblock %}