{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="content">

	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
	
	<div class="page-title-home">
		<div class="sub-container-home">
			<h1><span class="emoji-in-title-home">👋</span> Welcome to ft_transcendance... <span class="emoji-in-title-home2">👋</span></h1>
			<ul class="feature-list">
				<li><span class="feature-icon">📝</span> Fuck this project. </li>
			</ul>
		</div>
	</div>
	
	<div class="users-status-container">
		<div class="profile-container">
	
			<div class="profile-box">
				<img class="profile-img" src="{{ user.users.image.url }}" alt="">
				<!-- <button class="profile-img-upload">➕</button> -->
		
				{% if request.user.is_authenticated %}
					<div class="profile-user-info">
						<span class="profile-username" style="color: black">👩‍🦲 : {{ user.username }} </span>
						<span class="profile-pseudo" style="color: black">👤 : {{ user.users.pseudo }} </span>
						<span class="profile-email" style="color: black">📧 : {{ user.email }}</span>
					</div>
				{% else %}
					<p>You're not connected.</p>
				{% endif %}
		
				<div class="profile-separator">
					{% if request.user == user %}
						<p class="profile-text-settings-rdv">
							If you want to modify your user information, go to the settings 
						</p>
						<a class="profile-go-to-settings" href="{% url 'settings_user' %}">I want to update my profile</a>
					{% else %}
						<p class="other-profile-text-settings-rdv">
							You can add {{profile_user.username}} to friends
							or decide to block him/her.
						</p>
					
						<button class="other-profile-add-friend" data-username="{{ user.username }}">ADD👥</button>
						<button class="other-profile-block" data-username="{{ user.username }}">BLOCK🖕</button>
					{% endif %}
		
				</div>
			</div>
		</div>
		
		<!-- Online Users -->
		<div class="online-users">
			<h2>Online</h2>
			<div id="user-list">
				<!-- Les utilisateurs seront ajoutés ici -->
			</div>
			<div id="empty-state" class="empty-state">
				<p>Looks like no one's online.</p>
			</div>
		</div>
	
		<!-- Offline Users -->
		<div class="offline-users">
			<h2>Offline</h2>
			{% for user in offline_users %}
				{% if forloop.last %}
					<div class="user-card last card-{{ user.id }}">
				{% else %}
					<div class="user-card card-{{ user.id }}">
				{% endif %}
						<img class="user-avatar" src="{{ user.image.url }}" alt="{{ user.name }}">
						<p class="user-name">{{ user }}</p>
						<a class="profile-button" href="{% url 'profile' user %}">
							Profile
						</a>
						<!-- <div class="online-status" id="user-{{ user.id }}"></div> -->
					</div>
			{% empty %}
				<div class="empty-state">
					<p>Looks like no one's offline.</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<script src="{% static 'js/home.js' %}"></script>
{% comment %} <script>
	function createRandomShape() {
		// Creer un element qu'on ajoute a la liste class html (pour les styliser en CSS)
		const shape = document.createElement('div');
		shape.classList.add('shape');
	
		// Choisi une taille aleatoire entre 50px et 250px
		const size = Math.floor(Math.random() * 200) + 50;
		shape.style.width = `${size}px`;
		shape.style.height = `${size}px`;
	
		// Position aleatoire sur la page
		shape.style.top = `${Math.random() * 100}vh`;
		shape.style.left = `${Math.random() * 100}vw`;
	
		// Definir une vitesse d'animation aleatoire
		shape.style.animationDuration = `${Math.floor(Math.random() * 5) + 3}s`;
	
		// Couleur aleatoire
		const colors = ['#048399', '#005067', '#B96B85', '#5f73b3', '#a32048'];
		const choosen_color = colors[Math.floor(Math.random() * colors.length)];
		shape.style.background = `radial-gradient(circle, ${choosen_color}, white)`;
	
		// Ajouter la classe changee au body html
		document.body.appendChild(shape);
	
	}   
	
	for (let i=0; i < 10; i++) {
		createRandomShape(); }
</script>{% endcomment %}
{% endblock %}