{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="friends_and_blocked_user">
    <!-- FRIENDS -->
    <div class="friends_box">
        <h2>FRIENDS</h2>

        {% for other_user in users.friends.all %}
			{% if forloop.last %}
				<div class="if_founded last">
			{% else %}
				<div class="if_founded">
			{% endif %}
					<img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
					<p class="user-username">{{ other_user }} </p>
					<button class="remove-friend" data-username="{{ other_user }}">Remove</button>
					<button class="talk-friend" data-username="{{ other_user }}">Talk 💬​</button>
					<button class="invite-friend" data-username="{{ other_user }}">Invite 🫲</button>
		
					<!-- Ajout du statut de connexion -->
					<div class="online-status" id="user-{{ other_user.id }}"></div>
				</div>
        {% empty %}
        <div class="if_not_founded">
            <p>No friends</p>
        </div>
        {% endfor %}
    </div>

    <!-- BLOCKED -->
    <div class="blocked_box">
        <h2>BLOCKED</h2>

        {% for other_user in users.blocked.all %}
			{% if forloop.last %}
				<div class="if_founded last">
			{% else %}
				<div class="if_founded">
			{% endif %}
					<img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
					<p class="user-username">{{ other_user }} </p>
					<button class="remove-user-blocked" data-username="{{ other_user }}">Remove</button>
				</div>
        {% empty %}
        <div class="if_not_founded">
            <p>No user blocked</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="friend_request_box">
    <h2>FRIENDS REQUEST</h2>

    {% for other_user in users.friends_request.all %}
		{% if forloop.last %}
			<div class="if_founded last">
		{% else %}
			<div class="if_founded">
		{% endif %}
				<!-- Afficher la photo de profil de l'utilisateur -->
				<img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
				<!-- Afficher le nom d'utilisateur -->
				<p class="user-username">{{ other_user }} </p>
		
				<!-- Boutons pour accepter, refuser ou bloquer -->
				<button class="add-it" data-username="{{ other_user }}">Accept</button>
				<button class="decline-it" data-username="{{ other_user }}">Decline</button>
				<button class="block-it" data-username="{{ other_user }}">Block</button>
			</div>
    {% empty %}
    <div class="if_not_founded">
        <p>No friends requests</p>
    </div>
    {% endfor %}
</div>

<div class="invitation_box">
    <h2>GAME INVITATION</h2>

    {% for other_user in users.invite.all %}
		{% if forloop.last %}
			<div class="if_founded last">
		{% else %}
			<div class="if_founded">
		{% endif %}        <!-- Afficher la photo de profil de l'utilisateur -->
				<img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
				<!-- Afficher le nom d'utilisateur -->
				<p class="user-username">{{ other_user }} </p>
		
				<!-- Boutons pour accepter, refuser ou bloquer -->
				<button class="join-it" data-username="{{ other_user }}">Join</button>
				<button class="decline-invitation" data-username="{{ other_user }}">Decline</button>
			</div>
    {% empty %}
    <div class="if_not_founded">
        <p>No game invitation</p>
    </div>
    {% endfor %}
</div>

<style>
    body {
        background-color: var(--bg-site);
        color: #d8d8d8;
    }

    .online-status {
        position: absolute;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        background-color: rgb(109, 109, 109);
        border: 1px solid #131317;
        scale: 0.8;
        margin-left: 35px;
        margin-top: 40px;
    }

    .online-status.active {
        background-color: rgb(1, 201, 1); /* Couleur verte pour indiquer "en ligne" */
    }

    .friends_and_blocked_user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px
    }

    .friends_box,
    .blocked_box {
        width: 550px;
        height: fit-content;
        border: 2px solid black;
        border-radius: 10px;
        background-color: #23232e;
    }

    .blocked_box {
        margin-left: 40px;
    }

    .friend_request_box,
    .invitation_box {
        width: auto;
        height: auto;
        border: 2px solid black;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: #23232e;
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
    }

    .if_founded {
        display: flex; /* Afficher les éléments en ligne */
        align-items: center; /* Centrer verticalement les éléments */
        gap: 10px; /* Espacement entre les éléments */
        padding: 10px;
        border-top: 2px solid black;
        background-color: #141418;
    }

	.last {
		border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
	}

    .if_not_founded {
        text-align: center;
    }

    .user-pp {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid black;
    }

    .user-username {
        font-size: 18px;
        margin: 0; /* Supprimer la marge pour un meilleur alignement */
    }

    button {
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
    }

    .add-it, .talk-friend, .join-it {
        background-color: green;
        color: white;
    }

    .decline-it, .invite-friend, .decline-invitation {
        background-color: orange;
        color: white;
    }

    .block-it,
    .remove-friend,
    .remove-user-blocked {
        background-color: red;
        color: white;
    }

    .add-it,
    .decline-it,
    .block-it,
    .remove-friend,
    .remove-user-blocked,
    .talk-friend,
    .invite-friend,
    .join-it,
    .decline-invitation {
        transition: all 0.1s ease;
    }

    .add-it:hover,
    .decline-it:hover,
    .block-it:hover,
    .remove-friend:hover,
    .remove-user-blocked:hover,
    .talk-friend:hover,
    .invite-friend:hover,
    .join-it:hover,
    .decline-invitation {
        scale: 1.1;
    }

    .status {
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
    }

    .status.online {
        color: green;
        background-color: #e8f5e9; /* Vert clair */
    }

    .status.offline {
        color: red;
        background-color: #ffebee; /* Rouge clair */
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .status {
        animation: fadeIn 0.5s ease-in-out;
    }
</style>

<script>
    function getAddFriendResponse(baliseName, url, dataStatus) {
        document.querySelectorAll(`${baliseName}`).forEach(button => {
            button.addEventListener('click', function() {
                const username = this.getAttribute('data-username');
                fetch(`/accounts/${url}/${username}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === `blocked`) {
                        alert(`Impossible d'accepter car vous êtes bloqué par cet utilisateur.`);
                        location.reload(); // Recharger la page pour mettre à jour la liste
                    }
                    else if (data.status === `unblockBefore`) {
                        alert(`Pour accepter la demande d'ami de cet utilisateur, veuillez le débloquer.`);
                        location.reload();
                    }
                    else if (data.status === `friend_added`) {
                        alert(`L'Utilisateur <${username}> a bien été ajouté en ami !`);
                        location.reload();
                    }
                    else {
                        alert('Erreur : ' + data.message);
                    }
                })
                .catch(error => console.error('Erreur:', error));
            });
        });
    }

    function getResponse(baliseName, url, dataStatus, msgStart, msgEnd) {
        document.querySelectorAll(`${baliseName}`).forEach(button => {
            button.addEventListener('click', function() {
                const username = this.getAttribute('data-username');
                fetch(`/accounts/${url}/${username}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "blocked")
                    {
                        return (alert('Erreur: ' + "Impossible vous avez été bloqué. Rechargez la page."))
                    }
                    if (data.status === `${dataStatus}`) {
                        alert(`${msgStart} ${username} ${msgEnd}`);
                        location.reload(); // Recharger la page pour mettre à jour la liste
                    } else {
                        alert('Erreur : ' + data.message);
                    }
                })
                .catch(error => console.error('Erreur:', error));
            });
        });
    }

    getAddFriendResponse(".add-it", "accept_friend_request", "friend_added");
    getResponse(".decline-it", "decline_friend_request", "friend_request_declined", "Demande d'ami de", "refusée.");
    getResponse(".block-it", "block_user", "user_blocked", "Utilisateur", "bloqué.");
    getResponse(".remove-friend", "remove_friend", "user_removed", "", "n'est désormait plus votre ami.");
    getResponse(".remove-user-blocked", "remove_blocked_user", "blocked_user_removed", "Le user", "est débloqué.");
    getResponse(".invite-friend", "invite_friend", "game_invitation_send", "L'invitation envers le user", "a bien été envoyée.");
    getResponse(".decline-invitation", "invitation_declined", "game_invitation_declined", "La demande du user", "a bien été refusée.");


    function getCookie(name) {
        const cookies = document.cookie.split(';');
        for (let cookie of cookies) {
            const [cookieName, cookieValue] = cookie.trim().split('=');
            if (cookieName === name) {
                return decodeURIComponent(cookieValue);
            }
        }
        return null;
    }
</script>

<script>

    let statusSocket;

    // Fonction pour récupérer les statuts de tous les utilisateurs
    function fetchAllUsersStatus() {
        fetch("/accounts/api/user-status/") // Remplacez par l'URL de votre endpoint Django
            .then(response => response.json())
            .then(users => {
                console.log("Users status fetched:", users);
                users.forEach(user => {
                    const userElement = document.getElementById(`user-${user.id}`);
                    if (userElement) {
                        if (user.is_online) {
                            userElement.classList.add("active");
                        } else {
                            userElement.classList.remove("active");
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching users status:', error));
    }

    function connectWebSocket() {
        statusSocket = new WebSocket("wss://transcendance.42.paris/ws/status/");

        statusSocket.onopen = function(e) {
            console.log("WebSocket connection established");

            // Récupérer les statuts de tous les utilisateurs dès que la connexion WebSocket est établie
            fetchAllUsersStatus();
        };

        statusSocket.onmessage = function(e) {
            console.log("WebSocket message received:", e.data);
            const data = JSON.parse(e.data);
            const userElement = document.getElementById(`user-${data.user_id}`);
            console.log("User Element : ", userElement);
            if (userElement) {
                if (data.is_online) {
                    userElement.classList.add("active");
                } else {
                    userElement.classList.remove("active");
                }
            }
        };

        statusSocket.onclose = function(e) {
            console.error('WebSocket closed unexpectedly. Reconnecting...');
            setTimeout(connectWebSocket, 5000); // Reconnecter après 5 secondes
        };

        statusSocket.onerror = function(e) {
            console.error('WebSocket error:', e);
        };
    }

    connectWebSocket();

</script>

{% endblock %}
