{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/notifications.css' %}">
<link rel="stylesheet" href="{% static 'css/home-styles.css' %}">

<div class="page-title">
    <div class="sub-container">
        <h1><span class="emoji-in-title">🔔</span> Notifications</h1>
        <p>Here you can see your friends, friend requests, and users that you have blocked.</p>
    </div>
</div>	

<div class="friends_and_blocked_user">
    <!-- FRIENDS -->
    <div class="friends_box">
        <h2>FRIENDS</h2>

        {% for other_user in users.friends.all %}
			{% if forloop.last %}
				<div class="if_founded last">
			{% else %}
				<div class="if_founded">
			{% endif %}
					<img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
					<p class="user-username">{{ other_user }} </p>
					<button class="remove-friend" data-username="{{ other_user }}">Remove</button>
					<button class="talk-friend" data-username="{{ other_user }}">Talk 💬​</button>
					<!-- <button class="invite-friend" data-username="{{ other_user }}">Invite 🫲</button> -->
		
					<!-- Ajout du statut de connexion -->
					<div class="online-status" id="user-{{ other_user.id }}"></div>
				</div>
        {% empty %}
        <div class="if_not_founded">
            <p>No friends</p>
        </div>
        {% endfor %}
    </div>

    <!-- BLOCKED -->
    <div class="blocked_box">
        <h2>BLOCKED</h2>

        {% for other_user in users.blocked.all %}
			{% if forloop.last %}
				<div class="if_founded last">
			{% else %}
				<div class="if_founded">
			{% endif %}
					<img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
					<p class="user-username">{{ other_user }} </p>
					<button class="remove-user-blocked" data-username="{{ other_user }}">Remove</button>
				</div>
        {% empty %}
        <div class="if_not_founded">
            <p>No user blocked</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="friend_request_box">
    <h2>FRIENDS REQUEST</h2>

    {% for other_user in users.friends_request.all %}
		{% if forloop.last %}
			<div class="if_founded last">
		{% else %}
			<div class="if_founded">
		{% endif %}
				<!-- Afficher la photo de profil de l'utilisateur -->
				<img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
				<!-- Afficher le nom d'utilisateur -->
				<p class="user-username">{{ other_user }} </p>
		
				<!-- Boutons pour accepter, refuser ou bloquer -->
				<button class="add-it" data-username="{{ other_user }}">Accept</button>
				<button class="decline-it" data-username="{{ other_user }}">Decline</button>
				<button class="block-it" data-username="{{ other_user }}">Block</button>
			</div>
    {% empty %}
    <div class="if_not_founded">
        <p>No friends requests</p>
    </div>
    {% endfor %}
</div>


<!-- <div class="invitation_box">
    <h2>GAME INVITATION</h2>

    {% for other_user in users.invite.all %}
		{% if forloop.last %}
			<div class="if_founded last">
		{% else %}
			<div class="if_founded">
		{% endif %}
		    <img class="user-pp" src="{{ other_user.image.url }}" alt="{{ other_user }}">
		
		    <p class="user-username">{{ other_user }} </p>
		
		    <button class="join-it" data-username="{{ other_user }}">Join</button>
		    <button class="decline-invitation" data-username="{{ other_user }}">Decline</button>
		</div>
    {% empty %}
    <div class="if_not_founded">
        <p>No game invitation</p>
    </div>
    {% endfor %}
</div> -->

<style>
    /* Statut en ligne */
    .online-status {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: #2e332e;
        margin-left: 35px;
    }

    .online-status.active {
        background-color: #4caf50;
    }
</style>


{% endblock %}
