{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="content">

	<link rel="stylesheet" href="{% static 'css/other_game.css' %}">

	<div class="page">
		<div class="rectangle"></div>
		
		<a href="{% url 'other_game_choice' %}" class="retour">
			<span class="game-mode" id="retour" >Retour</span>
		</a>

		<h1 class="title">Choix de la room</h1>
		<div class="mode-choices">

			{% comment %} <a href="{% url 'map_choice' %}" class="game-distant">
				<span class="game-mode">New room</span>
			</a> {% endcomment %}

			{% comment %} <div id="test">
				{% if all_games %}
					<h2 id='text'> Join room : </h2>
					<div id="rooms-list">
					{% for room in all_games %}
						<a href="{% url 'other_game_multi' room.game_id room.map_id %}" class="game-distant" id="choice">
							<span class="game-mode" id='choice'>Room {{ room.game_id }} map {{ room.map_id }} </span>
						</a>
					{% endfor %}
					</div>
				{% else %}
					<p>Aucune Room </p>
				{% endif %}
			</div> {% endcomment %}

			<a href="{% url 'map_choice' %}" id="new-room" data-user-id="{{ request.user.id }}">
				<span class="game-mode">New game</span>
			</a>
			
			<div id="test">
				<h2 id='text'> Join room :</h2>
				<div id="rooms-list"></div>
			</div>

		</div>
	</div>

</div>

{% endblock %}
