{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/other_game.css' %}">

<div class="game-selection">
	<button data-map="1">Map 1</button>
	<button data-map="2">Map 2</button>
	<button data-map="3">Map 3</button>
</div>

<h3 class="game" id="fps">Fps : 0 | Avg Fps : </h3>

<h3 class="game" id="title">Score : 0 </h3>

<div class="game" id="canvas-container">
	<canvas width="1000" height="1000" id="game"></canvas>
	<div id="button-container">
		<button id="replay-button" style="display: none;">Play again !</button>
	</div>
	<text style="display: none;" text-anchor="middle" id="gameOver">
		You lost... Womp Womp :&#40;
	</text>
</div>

<script src="{% static 'js/other_game.js' %}"></script>

{% endblock %}