{% extends 'base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">


    <div class="profile-container">

        <div class="profile-box">
            <img class="profile-img" src="{% static 'images/basePP.png' %}" alt="">
            <!-- <button class="profile-img-upload">➕</button> -->

            {% if request.user.is_authenticated %}
                <div class="profile-user-info">
                    <span class="profile-username" style="color: black">👩‍🦲 : {{ request.user.username }}</span>
                    <span class="profile-pseudo" style="color: black">👤 : {{ request.user.perso }}</span>
                    <span class="profile-email" style="color: black">📧 : {{ request.user.email }}</span>
                </div>
            {% else %}
                <p>Vous n'êtes pas connecté.</p>
            {% endif %}

            <div class="profile-separator">

                <p class="profile-text-settings-rdv">
                    Si vous voulez modifier vos informations utilisateurs
                    rendez-vous dans les settings.
                </p>

                <button class="profile-go-to-settings" onclick="window.location.href='{% url 'settings_user' %}'">Je veux modifier mon profil</button>
            </div>
        </div>
    </div>

    <style>

        .profile-container {
            display: flex;
            margin-top: 5%;
            justify-content: center; /* Centre horizontalement */
            align-items: center;
        }

        .profile-box {
            display: flex;
            width: 400px;
            height: 450px;
            background-color: #888888;
            border-radius: 10px;
            border: 2px solid black;
            flex-direction: column; /* Permet d'empiler les éléments */
            justify-content: center; /* Centre le contenu verticalement */
            align-items: center; /* Centre le contenu horizontalement */
            text-align: center; /* Centre le texte à l'intérieur */
            box-shadow: -10px 10px black;
            transform: translateX(5px) translateY(-5px);
            background: linear-gradient(to right, #aa3196, #9159c0);
        }

        .profile-separator {
            position: absolute;
            width: 400px;
            height: 140px;
            margin-top: 310px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 2px solid black;
            background-color: #d8d8d8;
        }

        .profile-img {
            width: 150px;
            height: 150px;
            border: 2px solid black;
            border-radius: 50%;
            margin-top: -140px;
            margin-bottom: 15px; /* Ajouté pour espacer l'image du texte */
        }

        /* .profile-img-upload {
            position: absolute;
            width: auto;
            height: auto;
            padding: 5px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 50px;
            margin-top: -375px;
            margin-left: 110px;
            transition: all 0.3s ease;
        }

        .profile-img-upload:hover {
            background-color: rgb(69, 224, 22);
            cursor: pointer;
        }
        */

        .profile-user-info {
            flex-direction: column;
            display: flex; /* Assure que les éléments sont empilés verticalement */
            justify-content: center;
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
        }

        .profile-user-info span {
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            text-align: left;
            align-items: left;
            font-size: 20px;
        }

        .profile-text-settings-rdv {
            color: black;
            margin-top: 10px; /* Ajouté pour espacer le texte du bas */
            padding: 20px;
        }

        .profile-go-to-settings {
            width: 200px;
            height: auto;
            padding: 10px;
            color: black;
            margin-top: -20px;
            background: linear-gradient(to right, #aa3196, #721bb9);
            border-radius: 10px;
            transition: all 0.2s ease-out;
        }

        .profile-go-to-settings:hover {
            cursor: pointer;
            box-shadow: -5px 5px ;
            transform: translateX(5px) translateY(-5px);
        }


    </style>

{% endblock %}