{% extends 'base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">


    <div class="other-profile-container">

        <div class="other-profile-box">
            <img class="other-profile-img" src="{{ profile_user.users.image.url }}" alt="">

            {% if request.user.is_authenticated %}
                <div class="other-profile-user-info">
                    <span class="other-profile-username" style="color: black">👩‍🦲 : {{ profile_user.username }}</span>
                    <span class="other-profile-pseudo" style="color: black">👤 : {{ profile_user.pseudo }}</span>
                    <span class="other-profile-email" style="color: black">📧 : {{ profile_user.email }}</span>
                </div>
            {% else %}
                <p>Vous n'êtes pas connecté.</p>
            {% endif %}

            <div class="other-profile-separator">

                <p class="other-profile-text-settings-rdv">
                    Vous pouvez ajouter {{profile_user.username}} en ami(e)
                    ou décider de le/la bloquer.
                </p>

                <button class="other-profile-add-friend" disabled>Ajouter</button>
                <button class="other-profile-block" disabled>Bloquer</button>
            </div>
        </div>
    </div>

    <style>

        .other-profile-container {
            display: flex;
            margin-top: 5%;
            justify-content: center; /* Centre horizontalement */
            align-items: center;
        }

        .other-profile-box {
            display: flex;
            width: 400px;
            height: 480px;
            background-color: #888888;
            border-radius: 10px;
            border: 2px solid black;
            flex-direction: column; /* Permet d'empiler les éléments */
            justify-content: center; /* Centre le contenu verticalement */
            align-items: center; /* Centre le contenu horizontalement */
            text-align: center; /* Centre le texte à l'intérieur */
            box-shadow: -10px 10px black;
            transform: translateX(5px) translateY(-5px);
            background: linear-gradient(to right, #aa3196, #9159c0);
        }

        .other-profile-separator {
            position: absolute;
            width: 400px;
            height: 160px;
            margin-top: 320px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 2px solid black;
            background-color: #d8d8d8;
        }

        .other-profile-img {
            width: 150px;
            height: 150px;
            border: 2px solid black;
            border-radius: 50%;
            margin-top: -140px;
            margin-bottom: 15px; /* Ajouté pour espacer l'image du texte */
        }

        .other-profile-user-info {
            flex-direction: column;
            display: flex; /* Assure que les éléments sont empilés verticalement */
            justify-content: center;
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
        }

        .other-profile-user-info span {
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            text-align: left;
            align-items: left;
            font-size: 20px;
        }

        .other-profile-text-settings-rdv {
            color: black;
            margin-top: 10px; /* Ajouté pour espacer le texte du bas */
            padding: 20px;
        }

        .other-profile-go-to-settings {
            width: 200px;
            height: auto;
            padding: 10px;
            color: black;
            margin-top: -20px;
            background: linear-gradient(to right, #aa3196, #721bb9);
            border-radius: 10px;
            transition: all 0.2s ease-out;
        }

        .other-profile-go-to-settings:hover {
            cursor: pointer;
            box-shadow: -5px 5px ;
            transform: translateX(5px) translateY(-5px);
        }


    </style>

{% endblock %}