{% extends 'base.html' %}

{% load custom_filters %}

{% load static %}

{% block content %}

	<link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">

	<div class="page-title">
		<div class="sub-container">
			<h1><span class="emoji-in-title">🎭</span> Profile</h1>
			<p>Here you can see your stats and your data or other users' data. Explore and manage your profile easily.</p>
		</div>
	</div>	

	<div class="parent-of-parent-container">
		<div class="parent-container">

			<div class="profile-container">

				<div class="profile-box">
					<img class="profile-img" src="{{ user.users.image.url }}" alt="">
					<!-- <button class="profile-img-upload">➕</button> -->

					{% if request.user.is_authenticated %}
						<div class="profile-user-info">
							<span class="profile-username" style="color: black">👩‍🦲 : {{ user.username }} </span>
							<span class="profile-pseudo" style="color: black">👤 : {{ user.users.pseudo }} </span>
							<span class="profile-email" style="color: black">📧 : {{ user.email }}</span>
						</div>
					{% else %}
						<p class="if-no-game">Vous n'êtes pas connecté.</p>
					{% endif %}

					<div class="profile-separator">
						{% if request.user == user %}
							<p class="profile-text-settings-rdv">
								Si vous voulez modifier vos informations utilisateurs
								rendez-vous dans les settings.
							</p>
							<button class="profile-go-to-settings" onclick="window.location.href='{% url 'settings_user' %}'">Je veux modifier mon profil</button>
						{% else %}
							<p class="other-profile-text-settings-rdv">
								Vous pouvez ajouter {{profile_user.username}} en ami(e)
								ou décider de le/la bloquer.
							</p>
					
							<button class="other-profile-add-friend" data-username="{{ user.username }}">ADD👥</button>
							<button class="other-profile-block" data-username="{{ user.username }}">BLOCK🖕</button>
						{% endif %}

					</div>
				</div>
			</div>

			<div class="game-history-container">
				<h2>Historique des parties</h2>

				<div class="game-history-section">
					<h3>Tournament</h3>
					{% for T in games_T_CB %}
					<div class="pong-date" style="width: auto; height: auto; background-color: black; color: white">{{ tournaments_date|get_item:T|date:"d/m/Y H:i" }}</div>

					<div class="pong-history" style="background-color: {{ tournaments_colors|get_item:T }};">
						<!-- Trophée et utilisateur principal -->
						<div class="main-user-section">
							<img src="{% static 'images/trophy.png' %}" alt="Trophy" class="trophy-img">
							<img src="{{ user.users.image.url }}" alt="Main User" class="main-user-img">
						</div>
			
						<!-- Barre centrale -->
						<div class="center-bar"></div>
			
						<!-- Autres utilisateurs -->
						<div class="other-users-section">
							{% with t_user_imgs=tournaments_users|get_item:T %}
								{% for t_user_img in t_user_imgs %}
									<img src="{{ t_user_img }}" alt="Other User" class="other-user-img">
								{% endfor %}
							{% endwith %}
						</div>
					</div>
					{% empty %}
						<p class="if-no-game">Vous n'avez pas encore joué de tournois</p>
					{% endfor %}
				</div>

				<div class="game-history-section">
					<h3>Parties Pong</h3>
					{% if games_P %}
						{% for game in games_P %}
							<!-- Tout ce qui est dates et heures -->
							<div class="pong-date" style="width: auto; height: auto; background-color: black; color: white">{{ game.date|date:"d/m/Y H:i" }}</div>
						
							<!-- Container pour l'affichage des scores -->
							<div class="pong-history" style="display: flex; align-items: center; border: 2px solid; background-color: {{ game.color }}; padding: 10px; justify-content: space-between;">

								<!-- Score du joueur à gauche -->
								{% if game.id_p1 == user.users %}
									<span class="player-score" style="margin-left: 10px; padding: 10px;">{{ game.score_p1 }}</span>
								{% else %}
									<span class="player-score" style="margin-left: 10px; padding: 10px;">{{ game.score_p2 }}</span>
								{% endif %}
							
								<!-- Image du joueur à gauche -->
								<img src="{{ user.users.image.url }}" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px; border: 1px solid;">
								<span style="padding: 10px;">{{ user.users.name}}</span>

								<!-- Image du "versus" au centre -->
								<img src="{% static 'images/versus.png' %}" alt="" style="width: 50px; height: 50px; margin-right: 10px; margin-left: 10px;">
						
								<!-- Image de l'adversaire à droite de l'image "versus" -->
								{% if game.is_bot_game %}
									<!-- Si c'est contre un bot -->
									<img src="{% static 'images/bot.png' %}" style="width: 60px; height: 60px; border-radius: 50%; margin-left: 10px;">
									<span class="player-score" style="margin-right: 10px;">{{ game.score_p2 }}</span>
								{% else %}
									{% if game.id_p1 == user.users %}
										<span style="padding: 10px;">{{ game.id_p2.name}}</span>
										<img src="{{ game.id_p2.image.url }}" style="width: 50px; height: 50px; border-radius: 50%; margin-left: 10px; border: 1px solid;">
										<span class="player-score" style="margin-right: 10px; padding: 10px;">{{ game.score_p2 }}</span>
									{% else %}
										<span style="padding: 10px;">{{ game.id_p1.name}}</span>
										<img src="{{ game.id_p1.image.url }}" style="width: 50px; height: 50px; border-radius: 50%; margin-left: 10px; border: 1px solid;">
										<span class="player-score" style="margin-right: 10px; padding: 10px;">{{ game.score_p1 }}</span>
									{% endif %}
								{% endif %}
							</div>
						{% endfor %}
					{% else %}
						<p class="if-no-game">Aucune partie Pong jouée</p>
					{% endif %}
				</div>

	
				<div class="game-history-section">
					<h3>Parties Solo Casse-Briques</h3>
					{% if games_S_CB %}
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Carte</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
							{% for game in games_S_CB %}
								<tr>
									<td>{{ game.date|date:"d/m/Y H:i" }}</td>
									<td>{{ game.id_map }}</td>
									<td>{{ game.score }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p class="if-no-game">Aucune partie Solo Casse-Briques jouée</p>
					{% endif %}
				</div>
	
				<div class="game-history-section">
					<h3>Parties Multi Casse-Briques</h3>
					{% if games_M_CB %}
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Adversaire</th>
									<th>Score</th>
									<th>Carte</th>
								</tr>
							</thead>
							<tbody>
							{% for game in games_M_CB %}
								<tr>
									<td>{{ game.date|date:"d/m/Y H:i" }}</td>
									<td>
										{% if game.id_p1 == user.users %}
											{{ game.id_p2.name }}
										{% else %}
											{{ game.id_p1.name }}
										{% endif %}
									</td>
									<td>
										{% if game.id_p1 == user.users %}
											{{ game.score_p1 }} - {{ game.score_p2 }}
										{% else %}
											{{ game.score_p2 }} - {{ game.score_p1 }}
										{% endif %}
									</td>
									<td>{{ game.map }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p class="if-no-game">Aucune partie Multi Casse-Briques jouée</p>
					{% endif %}
				</div>
				<div class="blur-overlay"></div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/profile.js' %}"></script>

{% endblock %}