{% extends 'base.html' %}

{% load static %}


{% block content %}

<div id="content">
    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    
    <div id="videoContainer" style="width: 100vw; height: 100vh; display: none; position: fixed; top: 0; left: 0; z-index: 1000; background-color: black;"></div>

    <div class="page-title">
		<div class="sub-container">
			<h1><span class="emoji-in-title">​🛠️​</span> Settings</h1>
			<p>Do whatever you want buddy. You can update your informations, logout or you can leave us and face the consequences of your actions. </p>
		</div>
	</div>

    <div class="settings-container">

        <div class="settings-box">

            <img class="settings-img" src="{{ user.users.image.url }}" alt="Avatar" id="avatar-img" />

            <button class="settings-img-upload">
                <label for="s-avatar" class="custom-file-upload">➕</label>
            </button>
            
            <input type="file" id="s-avatar" name="avatar" style="display: none;">

            {% if request.user.is_authenticated %}
                <div class="settings-user-info">
                    <span class="settings-username" style="color: black">👩‍🦲 :<input id="s-username" type="text" class="settings-username" disabled placeholder="{{ request.user.username }}"> </span>
                    <span class="settings-pseudo" style="color: black">👤 :<input id="s-pseudo" type="text" class="settings-pseudo" disabled placeholder="{{ user.users.pseudo }}"> </span>
                    <span class="settings-email" style="color: black">📧 :<input id="s-email" type="text" class="settings-email" disabled placeholder="{{ request.user.email }}"> </span>
                </div>
            {% else %}
                <p>You're not connected.</p>
            {% endif %}

            <button class="update-or-save">Update</button>

            <div class="settings-separator">

                <p class="settings-text-settings-rdv">
                    To update your information, click on Update, then Save.
                </p>

                <div id="button-setting">
                    <a href="{% url 'signout' %}" class="settings-logout">
                        <img class="logout-svg" src="{% static 'images/logout-svgrepo-com.svg' %}" alt="Logout">
                        Logout
                    </a> 
    
                    <a class="settings-delete-account" href="{% url 'delete_account' %}">
                        <img class="delete-svg" src="{% static 'images/delete-profile-svgrepo-com.svg' %}">    
                        Cut access
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}